* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.white {
  color: white !important; }

body .welcome-section {
  height: 720px;
  position: relative;
  overflow: hidden; }
  body .welcome-section .logo {
    text-align: center;
    line-height: 550px;
    margin-top: 75px;
    color: #f7e27b; }
  body .welcome-section .video-style #video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -11; }
  body .welcome-section .navigation {
    text-align: center;
    height: 70px; }
    body .welcome-section .navigation a {
      text-transform: capitalize;
      position: relative;
      line-height: 70px;
      margin-right: 23px;
      margin-bottom: 4px;
      -webkit-text-decoration-style: none;
              text-decoration-style: none;
      text-decoration: none;
      color: white;
      font-weight: 400;
      font-size: 19px; }
      body .welcome-section .navigation a:last-child {
        margin-right: 0; }
      body .welcome-section .navigation a:hover {
        color: #E18A07; }
        body .welcome-section .navigation a:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
                  transform: scaleX(1); }
      body .welcome-section .navigation a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -4px;
        left: 0;
        background-color: #E18A07;
        visibility: hidden;
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
body .titles {
  margin: 40px 20px;
  font-size: 34px;
  font-weight: 300;
  text-transform: uppercase;
  color: #444444; }
body .sub-titles {
  margin: 40px auto;
  border: solid #E18A07 2px;
  width: 140px;
  height: 1.5px;
  color: #E18A07; }
body .nos-categories {
  padding-top: 25px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }
  body .nos-categories .cat {
    text-decoration: none;
    color: white;
    height: 290px;
    width: 27%;
    overflow: hidden;
    margin: 25px;
    display: inline-block;
    border-radius: 1%;
    background-size: cover;
    background-repeat: no-repeat; }
    body .nos-categories .cat:hover div {
      -webkit-transform: scale(1.08);
              transform: scale(1.08); }
    body .nos-categories .cat h2 {
      font-size: 25px;
      margin-bottom: 8px; }
    body .nos-categories .cat p {
      font-weight: 300;
      font-style: italic; }
    body .nos-categories .cat hr {
      color: white;
      border: 1px solid white;
      width: 70%;
      height: 2px;
      margin: 4px auto; }
  body .nos-categories .cat1 {
    background: url("../images/winksun/mar/53.jpg") center center;
    width: 100%;
    height: 100%;
    padding-top: 140px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  body .nos-categories .cat2 {
    background: url("../images/winksun/anif/1.jpg") center center;
    width: 100%;
    height: 100%;
    padding-top: 140px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  body .nos-categories .cat3 {
    background: url("../images/winksun/baptem/45.jpg") center center;
    width: 100%;
    height: 100%;
    padding-top: 140px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  body .nos-categories .cat4 {
    background: url("../images/winksun/art/41.jpg") center center;
    width: 100%;
    height: 100%;
    padding-top: 140px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  body .nos-categories .cat5 {
    background: url("../images/winksun/arch/12.jpg") center center;
    max-width: 100%;
    height: 100%;
    padding-top: 140px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  body .nos-categories .vidd {
    background: url("../images/winksun/art/44.jpg") center center;
    background-size: cover;
    max-width: 100%;
    height: 100%;
    padding-top: 140px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  body .nos-categories .video {
    width: 26%;
    background-repeat: no-repeat;
    background-size: cover !important; }
body .nos-packs {
  width: 100%;
  margin: 75px auto;
  background: #0f0c29;
  background: -webkit-gradient(linear, left top, right top, from(#0f0c29), color-stop(#302b63), to(#24243e));
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 100px; }
  body .nos-packs .pack {
    display: inline-block;
    text-align: center;
    height: 336px;
    width: 25%;
    background: white;
    margin: 35px 10px;
    padding-top: 20px; }
    body .nos-packs .pack hr {
      width: 50%;
      margin: 20px auto;
      border: 1px solid #ccc; }
    body .nos-packs .pack h3 {
      font-size: 16px;
      text-transform: uppercase;
      color: #E18A07; }
    body .nos-packs .pack p {
      margin: 10px auto;
      font-weight: 400; }
body .apropos {
  text-align: center;
  width: 90%;
  padding-bottom: 100px;
  margin: 0 auto; }
  body .apropos p {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase; }
body .contact {
  text-align: center;
  color: white;
  padding-top: 25px;
  height: 400px;
  background: #4ecdc4;
  background: -webkit-gradient(linear, left top, right top, from(#4ecdc4), to(#556270));
  background: linear-gradient(to right, #4ecdc4, #556270); }
  body .contact h4 {
    margin: 10px auto;
    font-weight: 300;
    font-size: 22px; }
  body .contact h5 {
    padding-top: 80px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 300; }
body #back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 100px;
  font-weight: 500;
  text-transform: uppercase;
  height: 40px;
  text-align: center;
  line-height: 30px;
  background: #000;
  color: white;
  padding-top: 4px;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  opacity: 0; }
  body #back-to-top:hover {
    background: #E18A07; }
  body #back-to-top.show {
    opacity: 1; }

@media screen and (max-width: 830px) {
  body .nos-categories .cat {
    width: 60%; }
  body .nos-packs .pack {
    width: 60%; } }

/*# sourceMappingURL=style.css.map */